<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title is-size-2 m-2">
      Which Foods Do Europeans Love The Most?
    </p>
    <p class="subtitle is-size-6 m-4">
      If You have been wondering about this, look no further, because in this website You can finally get answers!
    </p>
  </div>
</section>