<h1>What Food Do Europeans Love The Most?</h1>
<p>If You have been wondering about this, look no further, because in this website You can finally get answers!</p>

<div>
    <h2>Search results by:</h2>
    <div>
        <p>Country</p>
        <p>Age group</p>
        <p>Food Group</p>
    </div>

    <div>
        <p>What Nationality are You?</p>
        <p>About Me</p>
    </div>
</div>
