<h1>Hello from me!</h1>
<p>My name is Roberta and I am the author of this website. This is my first Ruby on Rails project, and this is what my food intake looks like: </p>
<%= pie_chart [["Cheese", 80], ["Coffee", 10], ["Chocolate", 10]] %>
<%= link_to 'Back', '/' %>
